body{
    margin: 0;
    padding: 0;
    font-family: Cooper,Georgia,Times,Times New Roman,serif;
}
h1{
  font-size: 60px;
  font-weight: 300;
}
h3{
  font-size: 50px;
  font-weight: 300;
}
h4{
  font-size:25px;
}
.summary{
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color: #f9e0fa;
    height: 500px;
    padding: 30px;
    background: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }
  .container2{
    width:100%;
  }
  .third{
    background-color: #f9e0fa;
    height: 350px;
    padding-top: 100px;
  }
  .content {
    display: grid;
    grid-template-columns: 50% 60%;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    /* background: blue; */
  }
  .right p,.fourth .content p{
    font-size: 14px;
    line-height: 1.5em;
}
  .right h2 {
    font-size: 50px;
    font-weight: normal;
  }
  .right a{
    font-size:13px;
  }
  .third .content p {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 25px;
    width: 350px;
    margin: 80px auto;
    text-align: center;
  }
  .fourth .content h2, .fifth .content h2{
    font-size: 45px;
    font-weight: normal;
    line-height: 1;
  }
  .img4{
    margin-left: 100px;
  }

  .img1 {
    width: 300px;
    height: 400px;
  }
  .img3{
    width: 400px;
    height: 300px;
    margin-top: 80px;
  }
  .img5{
    height: 100px;
  }

  nav{
    height:100px;
    font-size: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
    margin-top: -25px;
  }
  nav ul {
    list-style-type:none;
    grid-column: 1/2;
  }
  nav ul li{
      display: inline;
      margin-right: 5px;
  }
  .nav-links{
      font-size: 12px;
  }
  .log-in,.sign-up{
      padding: 15px;
      font-weight: bold;
  }
  .link{
    font-size: 12px;
    color: #007C89;
      font-weight: bold;
  }
  .sign-up{    
    font-size: 10px;
    background: #007C89;
    color: #ffffff;
  }
  .log-in{
    font-size: 10px;
    background: transparent;
    color: #000000;
  }
  button{
      border: 0;
  }
  .nav-buttons{
      float: right;
      position: relative;
      bottom: 80px;
  }
  a{
      text-decoration: none;
      color: #007c89;
  }
  footer{
    background: #ffe01b;
    height: 700px;
    text-align: center;
  }
  footer p{
    font-size:19px;
  }
  .one{
    padding-top: 50px;
  }
  .vl {
    border-left: 2px solid black;
    height: 200px;
    margin-left: 20px;
  }
  .footer-info {
    font-size: 14px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr 2fr;
    width: 800px;
    margin: 0 auto;
    text-align: left;
  }
  ul{
    list-style-type: none;
  }
  .end{
    width: 800px;
    margin: 0 auto;
  }
  .end p{
    font-size:10px;
  }